<footer class="mt-auto w-full h-full md:h-20 bg-secondary-600">
  <br>
  <span class="ml-20 md:flex">
    <p class="mr-10 text-white font-light">PAGE MAKE BY K3NDER/KRISTIAN</p>
    <p class="md:flex text-white font-light">MAKE WITH <img class="mr-2 ml-2" src="https://img.shields.io/badge/-Angular-DD0031.svg?logo=angular&style=for-the-badge"> AND  <img class="mr-2 ml-2" src="https://img.shields.io/badge/-tailwindcss-008373.svg?style=for-the-badge&logo=tailwindcss&logoColor=white"></p>
  </span>
</footer>
